.order-page-content {
  margin: 10px;
  display: flex;
  align-content: center;
  text-align: center;
  flex-grow: 1;

  .menu {

    border-radius: 7px;
    margin: 10px;

    h1 {

    }

    .nav-list {

      &:nth-child(even) {

      }
    }
  }

  .orders-content {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;

    .not-found-header {
      flex-grow: 1;
      align-items: center;
      align-self: center;
      display: flex;
      font-size: 35px;
    }

    .order-card {
      display: flex;
      flex-direction: column;
      margin: 5px;
      height: 420px;

      .order-card-content {
        display: flex;
        flex-grow: 1;
        text-align: justify;
        flex-direction: column;

        .order-card-title {
          display: flex;
        }

        .order-card-comment {
          display: flex;
          max-height: 150px;
          overflow: auto;
          margin-bottom: 20px;
        }

        .order-card-futter {
          display: flex;
          justify-content: space-between;
          align-items: end;
          flex-grow: 1;
        }
      }
    }

    .pagination-bar {
      display: flex;
      justify-content: center;
      margin: 10px 0 10px 0;
    }

  }
}



