.duty-card {
  min-height: 10vh;
  max-width: 450px;
  height: 310px;
  text-align: justify;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.duties-stack {
  margin: 0 auto;
  max-width: 1500px;

  .duties-stack-header {
    display: flex;
    align-items: center;
    padding: 30px 20px 20px;

    img {
      width: 175px;
      margin-right: 15px;
    }

    .main-duty {
      margin-left: 20px;
      padding: 0 20px 0 0;
      width: 100%;
      font-size: 16pt;
      font-weight: 600;

      div {
        display: flex;
        justify-content: space-between;
        font-size: 32pt;
        font-weight: 700;
        align-items: center;
      }
    }
  }

}

.duties-grid {
  padding: 20px 20px 40px 20px;
}