.auth-card {
    display: grid;
    place-items: center;
    padding: 35px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.auth-box {
    flex-grow: 0;
    width: 100%;
    margin: 0 auto;
}