.order-page-content {
  display: flex;
  align-content: center;
  text-align: center;

  .menu {

    border-radius: 11px;
    padding: 5px;
    margin: 10px;

    h1 {

    }

    .nav-list {

      &:nth-child(even) {

      }
    }
  }

  .orders {

  }
}

