.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-header {
    height: 103px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }

  .main-content {
    display: flex;
    flex-grow: 1;
    height: 100%;
  }

  .main-futter {
    display: flex;
    height: 80px;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 24px 16px;
    align-items: center;
    flex-grow: 0;
  }

}




